.navbar.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 3.2rem 0 3.2rem;
  width: 100%;
}

.page-search {
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 5.6rem;
  padding: 0px 1.4rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.page__container {
  width: 30rem;
}

.page__container__avatar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.page__avatar {
  margin-right: 0.8rem;
  height: 3.2rem;
  width: 3.2rem;
}

.page__name {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0;
  margin: 0;
}
